# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
 
# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
 
# Husky
.husky/_/
 
# VS Code settings
.vscode/
 
# GitHub Actions workflow logs
.github/workflows/*.log
 
# System files
.DS_Store
Thumbs.db
.idea/
*.swp